.tache {
	width : 80%;
	background-color: white;
	height : 35%;
	border-radius: 10px;
	left: 1000%;
	padding: 10px ;
	top: 50%;
	margin-top: 10%;
	margin-left: 10%; 
}

.tache th {
	text-decoration: underline;
	font-weight: bolder;
	color:SlateGray;
	
}



.tache td {
	text-align: center;
	padding: 16px;
	width: 10%;
	border-bottom: 1px solid;
}

.tache h1{
	font-family: 'Courgette', cursive;
	margin-bottom: 30px;
	text-align: center;
	margin-left: 4%;
}